<main class='container' ng-controller="CreateCourseCtrl">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 well">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="course-name-input" class="col-sm-3 control-label">Course name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="course-name-input" placeholder="Course name" ng-model="course.name">
                </div>
            </div>
            <div class="form-group">
                <label for="course-description-input" class="col-sm-3 control-label">Description</label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="course-description-input" rows="7" placeholder="Description" ng-model="course.description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="course-date-input" class="col-sm-3 control-label">Date</label>
                <div class="col-sm-9">
                    <input type="date" class="form-control" id="course-date-input" ng-model="course.date">
                </div>
            </div>
            <div class="form-group">
                <label for="course-duration-input" class="col-sm-3 control-label">Duration</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" id="course-duration-input" placeholder="Duration" ng-model="course.duration">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">
                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-save" ng-click="saveCourse(course)"></span> Save</button>
                    <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-ban-circle"></span> Cancel</button>
                </div>
            </div>
        </form>
    </div>
</main>