<main class='container'>
    <div class="courses-control row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="col-sm-9 course-search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter course name or start date...">
                    <span class="input-group-btn">
                            <button class="btn btn-info" type="button"><span class="glyphicon glyphicon-search"></span> Search</button>
                    </span>
                </div>
            </div>
            <div class="col-sm-3 course-add">
                <a class="btn btn-success btn-block" ng-href="#/courses/new"><span class="glyphicon glyphicon-plus"></span> Add course</a>
            </div>
        </div>
    </div>
    <div class="courses row" ng-controller="CoursesCtrl">
        <div ng-repeat="course in courses">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 course" ng-controller="RemoveCourseCtrl">
                <div class="col-sm-9">
                    <div class="course-head">
                        <ul class="list-inline">
                            <li class="course-name">{{course.name}}</li>
                            <li class="course-duration">{{course.duration | prettyfyDuration}}</li>
                            <li class="course-date pull-right">{{course.date | date : 'dd MMM yyyy' | uppercase}}</li>
                        </ul>
                    </div>
                    <div class="course-description">{{course.description}}</div>
                </div>
                <div class="col-sm-3">
                    <!-- <button type="submit" class="btn btn-warning btn-block" ng-click="goTo($index)"><span class="glyphicon glyphicon-edit"></span> Edit</button> -->
                    <a class="btn btn-warning btn-block" ng-href="#/courses/{{courses[$index].id}}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                    <button type="submit" class="btn btn-danger btn-block"><span class="glyphicon glyphicon-remove" ng-click="removeCourse(course)"></span> Remove</button>
                </div>
            </div>
        </div>
    </div>
</main>