
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

main {
  padding: 20px;
}

.container {
  max-width: 960px;
}

.warning {
  color: #e55;
}

.courses-control, .courses {
  margin: 15px;
}

.course {
  padding: 20px;
  border: 1px solid #eee;
  border-left: 5px solid #777;
}
.course-name {
  font-size: 1.5em;
  font-weight: bold;
}
.course-date {
  font-weight: bold;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 20px 0;
  background: #222;
}