<header class='navbar navbar-static-top navbar-inverse'>
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/"><span class="glyphicon glyphicon-education"></span> Courses</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li ng-hide="isLoggedIn"><a href="#/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li ng-show="isLoggedIn"><a href="#/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</header>