<main class='container' ng-controller="LoginCtrl">
    <div class="alert alert-danger col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" role="alert" ng-show="showAlertMessage">
        Login or password is incorrect.
    </div>
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 well">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="login-input" class="col-sm-2 control-label">Login</label>
                <div class="col-sm-8" ng-class="{'has-error': pleaseLoginIsActive }">
                    <input type="text" class="form-control" id="login-input" placeholder="Login (user)" ng-model="login">
                </div>
                <div class="col-sm-2 warning" ng-show="pleaseLoginIsActive">*please enter</div>
            </div>
            <div class="form-group">
                <label for="password-input" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-8" ng-class="{'has-error': pleasePasswordIsActive }">
                    <input type="password" class="form-control" id="password-input" placeholder="Password (111)" ng-model="password">
                </div>
                <div class="col-sm-2 warning" ng-show="pleasePasswordIsActive">*please enter</div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <button type="submit" class="btn btn-success btn-block" ng-click="verifyPassword()"><span class="glyphicon glyphicon-ok"></span> Sign in</button>
                </div>
            </div>
        </form>
    </div>
</main>